{% extends 'core/base.html' %}


{% block content %}
    <div class="container">
        <h2 class="title">Notifications</h2>

        <!-- check for notifications -->
        
        {% if not notifications %}
            No notifications for you,..
        {% endif %}
            
        
        {% for notification in notifications %}
            <div class="notification">
                <p>
                    
                    {% if notification.notification_type == 'message' %}
                        <a href="{% url 'notifications' %}?goto=view_forwarded&notification={{ notification.extra_id }}">
                            <strong>{{ notification.created_by }}</strong> sent you a message.
                            <small>{{notification.created_at|timesince</small>
                        </a>
                    {% elif notification.notification_type == 'forward' %}
                        <a href="{% url 'notifications' %}?goto=view_forwarded&notification={{ notification.extra_id }}">
                            <strong>{{ notification.created_by }}</strong> forwarded your document.
                            <small>{{notification.created_at|timesince</small>
                        </a>
                    {% endif %}
                        
                </p>
            </div>
        {% endfor %}
            
    </div>
{% endblock content %}
    