{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="section"  >
          <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
            <h2 class="title">Update Document</h2>
            <div class="field">
                <div class="control">
                    {{ form|crispy }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-success" type="submit"><i class="fas fa-upload"></i> Upload</button>

                </div>
            </div>
          </form>
         
      </div>
{% endblock content %}
