{% load userprofiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" >
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Correspondence</title>
</head>
<body>
   <!-- Nav bar -->
   <nav class="navbar is-light">
    <div class="navbar-brand">
        <a href="{% url 'home' %}" class="navbar-item"><strong>Correspondence</strong></a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <!-- check user is authenticated and show relevant buttons -->
                    
                    {% if request.user.is_authenticated and request.user.type.is_admin %}
                                            
                        <a href="{% url 'new_file' %}" class="button is-success">New File</a>
                        <a href="{% url 'notifications' %}" class="button is-light">Notifications ({{ notifications.count }})</a>
                        <a href="{% url 'logout' %}" class="button is-danger">Logout</a>
                        
                    {% elif request.user.is_authenticated and request.user.type.is_manager  %}
                        <a href="{% url 'notifications' %}" class="button is-dark">Notifications ({{ notifications.count }})</a>
                        <a href="#" class="button is-light">Shared with me</a>
                        <a href="{% url 'read-notification'  %}" class="button is-warning">Read Messages </a>
                        <a href="{% url 'logout' %}" class="button is-danger">Logout</a>

                    {% else %}
                    
                        <a href="{% url 'login' %}" class="button is-light"><strong>Login</strong></a>
                    {% endif %}
                        
                        
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end navbar  -->

<!-- main content -->
<section class="section">


{% if messages %}
    
    {% for message in messages %}
    
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}  
        <div class="notification is-success">
            {{ message }}
        </div>
    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.ALERT %}  
        <div class="notification is-warning">
            {{ message }}
        </div>
    {% endif %}
    
    {% if message.level == DEFAULT_MESSAGE_LEVELS.DANGER %}  
        <div class="notification is-danger">
             {{ message }}
        </div>
    {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}  
            <div class="notification is-info">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
        
{% endif %}
    
{% block content %}
    
{% endblock content %}
    
</section>

{% block script %}
   <script src="{% static 'scripts/main.js' %}"></script> 
{% endblock  %}
    
<!-- end-main  -->
</body>
</html>
